* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background: lightgrey;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, .1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.AnimatedCard {
  animation: popup 0.3s ease-in-out forwards;
}

@keyframes popup {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}